###### Imports and Settings

In [3]:
import pandas as pd
import numpy as np
import requests
from functools import reduce
import matplotlib.pyplot as plt
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
import sys
sys.path.append("../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus
import sqlite3 as sq

# This notebook outlines the download and formatting process for the University of Wisconsin's Population Health Institute's County Health Rankings for counties places in the GNRC operating region.  

Go to this page: https://www.countyhealthrankings.org/health-data/tennessee?year=2024  
Download the "(YEAR) Tennessee Data" excel workbook  
If the new version is the same as the 2022 download, then it will contain the following pages:  
+ Introduction, Outcomes & Factors Rankings, Outcomes & Factors SubRankings, Ranked Measure Data, Additional Measure Data, Ranked Measure Sources & Years, Additional Measure Sources & Years  
+ For both "Outcomes & Factors Rankings", "Outcomes & Factors SubRankings", and Additional Measure Data": unmerge headers and keep the FIPS, rename the County to "NAME", delete the State column, and keep only the ranks (we won't use the z-scores), and make sure the column headers are consistent with the outcomes or factors. Ensure the counties are alphabetized and move all of the rankings into one sheet.
  

Save these csvs as they come in the Data Downloads folder of Parent Data Gathering  


# I've got 2019 - 2023 formatted this way, then in 2024 they stopped ranking. This is the rankings up to 2023.

## Merge Multiple Years

In [4]:
conn = sq.connect('../Outputs/CountyHealthRankings.db')
#2024 custom
sql_query = pd.read_sql('SELECT * FROM [RankingAdj_2024]', conn)
df = pd.DataFrame(sql_query)

In [5]:
df.head()

         NAME  Year  Health Outcomes Ranking  Health Factors Ranking
0  Williamson  2024                        1                       1
1      Wilson  2024                        2                       2
2  Washington  2024                       14                       3
3    Hamilton  2024                       10                       4
4        Knox  2024                        9                       5

In [6]:
colstt = ['Health Outcomes Ranking', 'Health Factors Ranking']

In [7]:
df.set_index(['NAME', 'Year'], inplace = True)
df = df[colstt]

In [8]:
data = pd.read_csv('../Data Downloads/CountyHealthRankings_2023.csv', dtype = str)
data.set_index(['NAME', 'Year'], inplace = True)
data.head(3)

,,Health Outcomes Ranking,Health Factors Ranking,Length of Life Ranking,Quality of Life Ranking,Health Behaviors Ranking,Clinical Care Ranking,Social & Economic Factors Ranking,Physical Environment Ranking,Life Expectancy,Life Expectancy (AIAN),Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),# Deaths,Age-Adjusted Death Rate,Age-Adjusted Mortality (AIAN),Age-Adjusted Mortality (Asian),Age-Adjusted Mortality (Black),Age-Adjusted Mortality (Hispanic),Age-Adjusted Mortality (White),# Child Deaths,Child Mortality Rate,Child Mortality Rate (AIAN),Child Mortality Rate (Asian),Child Mortality Rate (Black),Child Mortality Rate (Hispanic),Child Mortality Rate (White),# Infant Deaths,Infant Mortality Rate,Infant Mortality Rate (AIAN),Infant Mortality Rate (Asian),Infant Mortality Rate (Black),Infant Mortality Rate (Hispanic),Infant Mortality Rate (White),% Frequent Physical Distress,% Frequent Mental Distress,% Adults with Diabetes,# HIV Cases,HIV Prevalence Rate,# Food Insecure,% Food Insecure,# Limited Access to Healthy Foods,% Limited Access to Healthy Foods,# Drug Overdose Deaths,Drug Overdose Mortality Rate,Drug Overdose Mortality Rate (AIAN),Drug Overdose Mortality Rate (Asian),Drug Overdose Mortality Rate (Black),Drug Overdose Mortality Rate (Hispanic),Drug Overdose Mortality Rate (White),% Insufficient Sleep,# Uninsured Adults,% Uninsured Adults,# Uninsured Children,% Uninsured Children,Other Primary Care Provider Rate,Other Primary Care Provider Ratio,Cohort Size,High School Graduation Rate,% Disconnected Youth,Average Grade Performance for 3rd Graders on English Language Arts Standardized Tests,Average Grade Performance for 3rd Graders on English Language Arts Standardized Tests (Asian),Average Grade Performance for 3rd Graders on English Language Arts Standardized Tests (Black),Average Grade Performance for 3rd Graders on English Language Arts Standardized Tests (Hispanic),Average Grade Performance for 3rd Graders on English Language Arts Standardized Tests (White),Average Grade Performance for 3rd Graders on Math Standardized Tests,Average Grade Performance for 3rd Graders on Math Standardized Tests (Asian),Average Grade Performance for 3rd Graders on Math Standardized Tests (Black),Average Grade Performance for 3rd Graders on Math Standardized Tests (Hispanic),Average Grade Performance for 3rd Graders on Math Standardized Tests (White),Segregation Index,Spending per Pupil,School Funding Adequacy,Women's Median Earnings,Men's Median Earnings,Gender Pay Gap,% Enrolled in Free or Reduced Lunch,% Household Income Required for Child Care Expenses,# Child Care Centers,"Child Care Centers per 1,000 Children",# Suicide Deaths,Suicide Rate (Age-Adjusted),Crude Suicide Rate,Suicide Rate (AIAN),Suicide Rate (Asian),Suicide Rate (Black),Suicide Rate (Hispanic),Suicide Rate (White),# Firearm Fatalities,Firearm Fatalities Rate,Firearm Fatalities Rate (AIAN),Firearm Fatalities Rate (Asian),Firearm Fatalities Rate (Black),Firearm Fatalities Rate (Hispanic),Firearm Fatalities Rate (White),# Motor Vehicle Deaths,Motor Vehicle Mortality Rate,MV Mortality Rate (AIAN),MV Mortality Rate (Asian),MV Mortality Rate (Black),MV Mortality Rate (Hispanic),MV Mortality Rate (White),Non-Petitioned Cases,Petitioned Cases,Denominator,Juvenile Arrest Rate,% Voter Turnout,% Census Participation,Traffic Volume,Premature Deaths,Years of Potential Life Lost Rate,YPLL Rate (AIAN),YPLL Rate (Asian),YPLL Rate (Black),YPLL Rate (Hispanic),YPLL Rate (White),% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% LBW (AIAN),% LBW (Asian),% LBW (Black),% LBW (Hispanic),% LBW (White),% Adults Reporting Currently Smoking,% Adults with Obesity,Food Environment Index,% Physically Inactive,% With Access to Exercise Opportunities,% Excessive Drinking,# Alcohol-Impaired Driving Deaths,# Driving Deaths,% Driving Deaths with Alcohol Involvement,# Chlamydia Cases,Chlamydia Rate,Teen Birth Rate,Teen Birth Rate (AIAN),Teen Birth Rate (Asian),Teen Birth Rate (Black),Teen Birth Rate (Hispanic),Teen Birth Rate (White),# Uninsured,% Uninsured,# Primary Care Physicians,Primary Care Physicians Rate,Primary Care Physicians Ratio,# Dentists,Dentist Rate,Dentist Ratio,# Mental Health Providers,Mental Health Provider Rate,Mental Health Provider Ratio,Preventable Hospitalization Rate,Preventable Hosp. Rate (AIAN),Preventable Hosp. Rate (Asian),Preventable Hosp. Rate (Black),Preventable Hosp. Rate (Hispanic),Preventable Hosp. Rate (White),% with Annual Mammogram,% Screened (AIAN) Annual Mammogram,% Screened (Asian) Annual Mammogram,% Screened (Black) Annual Mammogram,% Screened (Hispanic) Annual Mammogram,% Screened (White) Annual Mammogram,% Flu Vaccinated,% Flu Vaccinated (AIAN),% Flu Vaccinated (Asian),% Flu Vaccinated (Black),% Flu Vaccinated (Hispanic),% Flu Vaccinated (White),# Social Associations,Social Association Rate,# Injury Deaths,Injury Death Rate,Injury Death Rate (AIAN),Injury Death Rate (Asian),Injury Death Rate (Black),Injury Death Rate (Hispanic),Injury Death Rate (White),Average Daily PM2.5,Presence of Water Violation,% Severe Housing Problems (CHAS),Severe Housing Cost Burden (CHAS),Overcrowding (CHAS),Inadequate Facilities (CHAS)
NAME,Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Anderson,2023,38,16,49,34,20,7,18,68,74.66045876,NaN,73.17057026,97.68087203,74.37393029,1486,507.2452084,NaN,NaN,559.1448237,NaN,520.3325854,35,53.93078369,NaN,NaN,NaN,NaN,NaN,44,7.939372068,NaN,NaN,NaN,NaN,NaN,11.2,17.6,10.6,77,116.5,11350,14.8,1984.041783,2.640846788,121,52.37687107,NaN,NaN,NaN,NaN,NaN,35,6066,13.58749216,849,5.063215649,149.53078,669:01:00,871,93.76693456,NaN,2.983796451,3.280419697,2.726004112,NaN,3.012397248,2.780943495,3.496293064,2.530614779,NaN,2.793321616,0.088008912,10801.99963,384.2563,39849,48546,0.820850328,NaN,24.98934047,50,12.39157373,75,19.75948616,19.57146324,NaN,NaN,NaN,NaN,NaN,58,15.13526491,NaN,NaN,NaN,NaN,NaN,74,13.84502552,NaN,NaN,NaN,NaN,NaN,42,328,7800,47.43589744,60.28302686,69.2,166.1583576,1486,10762.6753,NaN,NaN,11276.40963,NaN,11116.05392,15.8,3.576381488,5.283177386,9.296436969,NaN,NaN,10.97560976,4.237288136,9.541359541,22.4,35.5,7.5,25.3,65.24383128,17.29555385,13,55,23.63636364,271,352,31.53430467,NaN,NaN,31.25,20.55800294,32.69818866,6839,11.28156909,37,47.70623,2096:01:00,60,77.34351,1293:01:00,79,101.83562,982:01:00,2788,NaN,NaN,2090,NaN,2790,43,NaN,36,55,27,43,60,NaN,69,60,43,60,116,14.95654865,462,120.5602136,NaN,NaN,97.05412195,NaN,126.7482013,8.3,No,12.39358219,10.3214049,1.768172888,0.916830386
Bedford,2023,37,39,46,35,38,66,33,32,74.09878957,NaN,72.72683645,90.4575875,73.88181979,901,532.8108176,NaN,NaN,606.7717149,379.0862607,539.1748612,27,54.02701351,NaN,NaN,NaN,NaN,NaN,40,8.972633468,NaN,NaN,NaN,NaN,NaN,11.8,17.7,11.9,67,162.5,6290,12.8,4022.462151,8.927298483,41,27.52971195,NaN,NaN,NaN,NaN,NaN,36.4,5538,18.83097011,1047,8.168838262,82.16123,1217:01:00,592,92,11.78479932,2.768092534,NaN,2.401163739,2.397801095,2.983743176,2.593059011,NaN,1.961982607,2.401376102,2.777162935,0.115879171,8184.0001,-629.2979,34910,44393,0.786385241,NaN,21.17286178,33,9.85957574,44,18.09839123,17.99362862,NaN,NaN,NaN,NaN,NaN,37,15.13100589,NaN,NaN,NaN,NaN,NaN,62,18.32470791,NaN,NaN,NaN,NaN,NaN,43,222,5900,44.91525424,55.01657299,65.8,125.4515387,901,10665.54206,NaN,NaN,12051.61148,7588.930809,10930.18213,17.8,3.805997073,5.197907515,8.785416209,NaN,NaN,15.29411765,6.493506494,8.826320785,23.4,37.4,7.3,27.8,43.6690089,15.06543114,14,36,38.88888889,234,470.7,38.96832072,NaN,NaN,32.58426966,54.13846955,36.72353171,6498,15.61343649,15,29.89298,3345:01:00,13,25.43086,3932:01:00,37,72.38013,1382:01:00,3043,NaN,NaN,NaN,NaN,NaN,39,NaN,NaN,47,33,39,50,NaN,42,46,33,51,38,7.572889057,211,86.28762815,NaN,NaN,59.16868005,48.73927736,96.22918321,7.6,No,13.6230182,10.52475541,3.229594833,0.411039342
Benton,2023,83,80,89,49,83,67,82,35,72.03375583,NaN,NaN,NaN,NaN,430,653.0968992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.9,18.7,12,13,93.6,2800,17.4,951.2293216,5.768872106,16,33.00670449,NaN,NaN,NaN,NaN,NaN,34.8,1382,15.6211145,189,5.945265807,126.00806,794:01:00,162,97.5,NaN,2.899259869,NaN,NaN,NaN,NaN,2.815049013,NaN,NaN,NaN,NaN,0.031219158,10466.9983,-535.4717,34285,42901,0.799165521,NaN,25.98029448,5,6.613756614,22,23.36882052,27.33768251,NaN,NaN,NaN,NaN,NaN,23,28.58030444,NaN,NaN,NaN,NaN,NaN,39,34.59010723,NaN,NaN,NaN,NaN,NaN,24,8,1500,21.33333333,56.30089182,57.4,15.24389911,430,13904.54774,NaN,NaN,NaN,NaN,NaN,19.5,4.097715958,5.393330751,8.168761221,NaN,NaN,NaN,NaN,NaN,26.5,38.4,6.7,29,52.90595058,15.97279219,6,16,37.5,59,365.1,41.41414141,NaN,NaN,NaN,NaN,NaN,1556,13.10867734,3,18.59773,5377:01:00,3,18.90121,5291:01:00,8,50.40323,1984:01:00,2828,NaN,NaN,NaN,NaN,NaN,29,NaN,NaN,NaN,NaN,NaN,42,NaN,NaN,37,54,42,17,10.53871428,121,150.3572538,NaN,NaN,NaN,NaN,NaN,7.3,No,13.23964497,11.38297872,0.665680473,1.627218935

In [9]:
data = data.filter(colstt, axis = 1)

In [10]:
dfs = [data, df]
data = pd.concat(dfs)
data.head()

              Health Outcomes Ranking Health Factors Ranking
NAME     Year
Anderson 2023                      38                     16
Bedford  2023                      37                     39
Benton   2023                      83                     80
Bledsoe  2023                      15                     91
Blount   2023                       8                      8

In [11]:
data.tail()

                Health Outcomes Ranking Health Factors Ranking
NAME       Year
Bledsoe    2024                      27                     91
Lauderdale 2024                      73                     92
Perry      2024                      45                     93
Hancock    2024                      94                     94
Lake       2024                      95                     95

In [12]:
#import and drop FIPS on the import as we'll join it with the custom module
data = pd.read_csv('../Data Downloads/CountyHealthRankings_2022.csv', dtype = str)
data.set_index(['NAME', 'Year'], inplace = True)

In [13]:
data = data.filter(colstt, axis = 1)

In [14]:
dfs = [data, df]
data = pd.concat(dfs)
data.head()

              Health Outcomes Ranking Health Factors Ranking
NAME     Year
Anderson 2022                      38                     14
Bedford  2022                      42                     62
Benton   2022                      86                     80
Bledsoe  2022                      21                     90
Blount   2022                       8                      7

In [15]:
twentyone = pd.read_csv('../Data Downloads/CountyHealthRankings_2021.csv', dtype = str)
twentyone.set_index(['NAME', 'Year'], inplace = True)

In [16]:
twentyone = twentyone.filter(colstt, axis = 1)

In [17]:
dfs = [data, twentyone]
data = pd.concat(dfs)
data.head(2)

              Health Outcomes Ranking Health Factors Ranking
NAME     Year
Anderson 2022                      38                     14
Bedford  2022                      42                     62

In [18]:
twenty = pd.read_csv('../Data Downloads/CountyHealthRankings_2020.csv', dtype = str)
twenty.set_index(['NAME', 'Year'], inplace = True)

In [19]:
twenty = twenty.filter(colstt, axis = 1)

In [20]:
dfs = [data, twenty]
data = pd.concat(dfs)
data.tail(2)

                Health Outcomes Ranking Health Factors Ranking
NAME       Year
Williamson 2020                       1                      1
Wilson     2020                       3                      2

In [21]:
nineteen = pd.read_csv('../Data Downloads/CountyHealthRankings_2019.csv', dtype = str)
nineteen.set_index(['NAME', 'Year'], inplace = True)

In [22]:
nineteen = nineteen.filter(colstt, axis = 1)

In [23]:
dfs = [data, nineteen]
data = pd.concat(dfs)
data.tail(2)

                Health Outcomes Ranking Health Factors Ranking
NAME       Year
Williamson 2019                       1                      1
Wilson     2019                       2                      2

In [24]:
data = data.reset_index(drop = False)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NAME                     479 non-null    object
 1   Year                     479 non-null    object
 2   Health Outcomes Ranking  475 non-null    object
 3   Health Factors Ranking   475 non-null    object
dtypes: object(4)
memory usage: 15.1+ KB

In [26]:
data.head()

       NAME  Year Health Outcomes Ranking Health Factors Ranking
0  Anderson  2022                      38                     14
1   Bedford  2022                      42                     62
2    Benton  2022                      86                     80
3   Bledsoe  2022                      21                     90
4    Blount  2022                       8                      7

In [27]:
#export to the SQLite database
conn = sq.connect('../Outputs/CountyHealthRankings.db')
data.to_sql('Rankings_Annual', conn, if_exists = 'replace', index = False)

479